@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

button {
  background: #0575e6;
  background: -webkit-linear-gradient(to right, #021b79, #0575e6);
  background: linear-gradient(to right, #021b79, #0575e6);
}

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    height: 6px;
  }
  
  .scrollbar-track-purple-900\/10::-webkit-scrollbar-track {
    background: rgba(2, 36, 131, 0.1);
    border-radius: 3px;
  }rgb
  
  .scrollbar-thumb-purple-600\/50::-webkit-scrollbar-thumb {
    background: rgba(2, 36, 131, 0.5);
    border-radius: 3px;
  }
  
  .scrollbar-thumb-purple-600\/70::-webkit-scrollbar-thumb {
    background: rgba(2, 36, 131, 0.7);
  }
  .scrollbar-none {
    scrollbar-width: none;
  }
  .scrollbar-visible {
    scrollbar-width: auto;
  }
}